* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;  
}

:root {
  scroll-behavior: smooth;
}

.body {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 1;
  height: 7rem;
  background-color: #191919;
  top: 0;
}

.header-nav {
  width: 100%;
  height: 100%;
}

.header-container {
  max-width: 64rem;
  display: flex;
  height: 100%;
  padding: 0 1em;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 728px) {
  .header-container {
    margin: 0 auto;
  }
}

.header-nav__link-logo {
  width: 10rem;
  height: auto;
  object-fit: cover;
}

.header-nav__link-logo-container {
  display: flex;
} 

.header-nav__menu-list-container {
  margin: 0 1em;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: .3em 0;
}

@media (min-width: 728px) {
  .header-nav__menu-list-container {
    flex-direction: row;
    gap: 0 1em;
  }
}

.header-nav__menu-link-container {
  position: relative;
}

.header-nav__menu-link {
  color: rgb(238 238 238);
  text-decoration: none;
  font-weight: 700;
  position: relative;
}

.header-nav__show-name-container {
  width: 100%;
  transition: .5s height;
  list-style: none;
  border-radius:  0 0 .3rem .3rem;
  visibility: hidden;
  padding: 0;
  margin: 0;
  height: 0;
  position: absolute;
}

.header-nav__show-name-item {
  display: flex;
  justify-content: center;
}

.header-nav__menu-link--normal::before {
  content: '';
  width: 0;
  position: absolute;
  height: 0.125rem;
  bottom: -0.125rem;
  left: 0;
  background-color: #3D7AFD;
  transition: width .25s ease-in-out;
}

.header-nav__menu-link--normal:hover::before {
  width: 100%;
}

.header-nav__show-name-link {
  color: transparent;
  font-weight: 900;
  opacity: 0;
  text-decoration: none;
}

.header-nav__show-name-link--first {
  transition: 0.25s .5s opacity, 0.5s 0 color;
}
.header-nav__show-name-link--second {
  transition: 0.25s .75s opacity, 0.5s 0 color;
}

.header-nav__menu-link-container:hover .header-nav__show-name-link {
  opacity: 1;
  color: rgb(58, 177, 241);
}

.header-nav__menu-link-container:hover .header-nav__show-name-container {
  height: 200%;
  background-color: white;
  visibility: visible;
}

.main {
  width: 100%;
}

.i-hero {
  background-image: url('../assets/img/background-hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
}

.i-hero-container {
  max-width: 40rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1em 0;
  padding: 0 1em;
}

@media (min-width: 728px) {
  .i-hero-container {
    max-width: 44rem;
  }
}

@media (min-width: 1024px) {
  .i-hero-container {
    max-width: 64rem;
  }
}

.i-hero-title, .i-hero-subtitle, .i-hero-paragraph {
  margin: 0;
  text-align: center;
}

.i-hero-title {
  font-size: 2rem;
  opacity: 0;
  animation: fade-in 1s ease-out 1 forwards;
}

.i-hero-subtitle {
  opacity: 0;
  font-size: 1.5rem;
  animation: fade-in 1s .5s ease-out 1 forwards;
}

.i-hero-paragraph {
  font-size: 1rem;
  opacity: 0;
  animation: fade-in 1s 1s ease-out 1 forwards;
}

@keyframes fade-in {
  from {
    transform: translateY(1rem);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.coursers {
  width: 100%;
  padding: 3em 1em;
}

@media (min-width: 728px) {
  .coursers {
    padding: 3em;
  }
}

.coursers__course-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  gap: 3em 0;
}

@media (min-width: 728px) {
  .coursers__course-container {
    max-width: 64rem;
    margin: 0 auto;
    gap: 3em;
  }
}

.coursers__course-item {
  width: 100%;
  border: 4px solid black;
  border-radius: .15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 1em 0;
  gap: 1em 0;
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: .25s transform;
}

.coursers__course-item:hover {
  transform: scale(1.05);
}

.coursers__course-item__info-container {
  display: flex;
  padding: 0 1em;
  align-items: center;
  flex-direction: column;
  gap: 1em 0;
}

.coursers__course-item__info-title {
  text-align: center;
  margin: 0;
}

.coursers__course-item__info-category {
  text-align: center;
  margin: 0;
}

.coursers__course-item__info-description {
  margin: 0;
  text-align: center;
}

.coursers__course-item__info-description {
  margin: 0;
}

.coursers__course-item__img-container {
  width: 100%;
}

.coursers__course-item__img-pro {
  width: 100%;
  object-fit: cover;
  height: 100%;
}


.form-contact {

}

.form-contact__container{

}


.form-contact__title{

}

.form-contact__survey{

}

.form-contact__survey-name{
    width:25%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
}

.form-contact__survey-name:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}


.form-contact__survey-email{
    width:25%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box
}

.form-contact__survey-email:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}


.form-contact__survey-interested-course-label{

}

.form-contact__survey-interested-course-select{
    width: 25%;
    border: 2px solid #aaa;
    border-radius: 4px;

}

.form-contact__survey-button{

}





